* {
    padding: 0;
    margin: 0;
}

.date-selector-bg {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(75, 75, 75, 0);
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    z-index: -1;
}

.date-selector-bg-up {
    z-index: 999 !important;
    background: rgba(75, 75, 75, 0.65) !important;
}

.date-selector-container {
    width: 100%;
    height: 256px;
    position: absolute;
    bottom: 0;
    transform: translateY(101%);
    -webkit-transform: translateY(101%);
    left: 0;
    background-color: #FFF;
    transition: transform .3s ease;
    -webkit-transition: -webkit-transform .3s ease;
}

.date-selector-container-up {
    transform: translateY(0) !important;
    -webkit-transform: translateY(0) !important;
}

.date-selector-btn-box {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 44px;
    line-height: 44px;
    background: rgba(218, 218, 218, .7);
}

.date-selector-btn-box .date-selector-btn {
    margin: 0 20px;
    color: #000;
}

.date-selector-btn-box .date-selector-btn:nth-child(1) {
    float: left;
}

.date-selector-btn-box .date-selector-btn:nth-child(2) {
    float: right;
}

.date-selector-content {
    position: absolute;
    width: 100%;
    background: #fff;
    font-size: 0;
    top: 50px;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition: transform .3s ease;
    -webkit-transition: -webkit-transform .3s ease;
}

.date-selector-content .date-selector {
    display: inline-block;
    height: 200px;
    overflow: hidden;
    position: relative;
    top: 0;
    vertical-align: top;
}

.date-selector-content li {
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    list-style: none;
    overflow: hidden;
}

.date-selector-content ul::-webkit-scrollbar {
    display: none;
}

.date-selector-content .date-selector-up-shadow,
.date-selector-content .date-selector-down-shadow {
    width: 100%;
    height: 80px;
    position: absolute;
    pointer-events: none;
}

.date-selector-content .date-selector-up-shadow {
    top: 0;
    background-image: linear-gradient(to bottom, #FFF, rgba(255, 255, 255, 0));
}

.date-selector-content .date-selector-down-shadow {
    bottom: 0;
    background-image: linear-gradient(to top, #FFF, rgba(255, 255, 255, 0));
}

.date-selector-content .date-selector-line {
    width: 96%;
    height: 40px;
    position: absolute;
    top: 80px;
    left: 2%;
    pointer-events: none;
    box-sizing: border-box;
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
}
